**/.DS_Store
.Rhistory
.Rproj.user
data/TERRESTRIAL_MAMMALS*
outputs/*
report-template.html
.httr-oauth
data/P2_virus_mammal_host_associations.csv
data/viral_species_testing_by_host_and_site.csv
data/viral_species_country_lookup.csv
